# GEMINI_API_KEY
GEMINI_API_KEY="AIzaSyAoLEXH14UBZk7dJN5Y_pBWuJcnnQp3YG0"

# MongoDB
MONGODB_URI="mongodb+srv://Sdietean:amitsharma@cluster0.i6ic2ee.mongodb.net/?appName=Cluster0"

# JWT
JWT_SECRET="#@#$_&--++)+"

# Cloudinary
CLOUDINARY_CLOUD_NAME="ddivoy9q9"
CLOUDINARY_API_KEY="221615238522949"
CLOUDINARY_API_SECRET="lGWVPLHnmC5yMk-pVvwLcILHiw8"

# Email (Nodemailer)
EMAIL_USER="amitkumar55423@gmail.com"
EMAIL_PASS="qddruvpnkdxhsirn"
